<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <ol>
      {{#each burger}} {{#unless devoured}} {{> burgers/burger-block devour=true}} {{/unless}} {{/each}}
    </ol>
  </div>
  <div class="col-md-3 ">
    <ol class="text-muted">
      {{#each burger}} {{#if devoured}} {{> burgers/devoured_burger}} {{/if}} {{/each}}
    </ol>
  </div>
  <div class="col-md-3"></div>

</div>

<div class="row text-center center-block">
  <div class="col-md-12">
    <form class="create-form">
      <div class="form-group center-block">
      <input type="text" id="ca" class="form-control center-block" rows="3" style="max-width: 30%">
      </div>
      <button type="submit" class="btn btn-primary">submit</button>
    <p>Enter a burger you want to eat then click the "Submit" button</p>
    </form>
  </div>
</div>