body {
  background-color:#fee861;
}

.change-sleep {

  margin:10px;

}

#ca{
  height: 70px;
}

.eaten {
  height: 30px;
  width: 200px;
  background-color:lightgray;
  padding:20px;
}

li {
  margin:20px;
}
